.img{
    border: 1px;
    border-color: black;
    position: relative;
}

#box{
    height: 100 px;
    width: 110 px;
    margin: 50 px;
    border: 2 px royalblue;
    padding: 60 px;
    font-size: 60 px;
    background-color: salmon;


}

.Btn{
    background-color: royalblue;
    color: whitesmoke ;
    padding: 18px 34px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
}
body {
    text-align: center;

}